@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h3>Upload a file</h3>
    <div>
        <form enctype="multipart/form-data" method="post" asp-controller="ViewData" asp-action="UploadFile">
            <input  type="file" name="file"/>
            <button type="submit">Upload</button>
        </form>
    </div>
</div> *@

<div
